.Projects{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.Projects-main{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}
.Projects-title{
    margin-top: 10vh;
    color: #fff;
    padding: 20px;
}
.Projects-detals{
    width: 40%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 0px 0px 9px var(--main-color);
    border: 1px solid var(--main-color);
    margin-bottom: 50px;
    border-radius: 20px;
    position: relative;
    transition: .4s;
}
.Projects-detals:hover .Projects-img{
    margin-top:0;
}
.Projects-img{
    margin-top: 100vh;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: .5s;
    filter:opacity(.6);
}
.Projects-img:hover{
    transform: scale(1.4);
}
.Projects-detals-title{
    margin-top: 80px;
    text-align: center;
    color: #fff;
}
.move{
    display: flex;
    width: 100%;
    position: relative;
}
.Projects-desc{
    text-align: center;
}
.Projects-word{
    display: flex;
    align-items: center;
    width: 100%;
}
.Projects-word a{
    text-decoration: none;
    color: var(--main-color);
}
.Projects-code{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    cursor: pointer;
}
.Projects-code h4{
    margin: 30px 20px;
}
.fa-angle{
    background-color: #fff;
    padding: 10px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    height: fit-content;
}
.fa-angle-right{
    float:right;
}
.fa-angle-left{
    float:left;
}
@media (max-width:1000px) {
    .Projects-detals{
        width: 60%;
    }
}
@media (max-width:1000px) {
    .Projects-detals{
        width: 80%;
    }
}
@media (max-width:500px) {
    .Projects-detals{
        width: 90%;
    }
    .Projects-desc{
        padding: 0 20px;
    }
}