.Contact {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.Contact-detales {
  width: 40%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 30px;
  margin-top: 20px;
  box-shadow: 0px 0px 9px green;
}
.Contact-detales h1 {
  color: #fff;
  font-size: 24px;
  padding: 10px;
}
.Contect-desc {
  text-align: center;
  padding: 10px 30px;
}
.Contact-detales p {
  font-size: 24px;
}
.Contact-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.btn {
  padding: 10px;
  margin: 10px;
  background-color: transparent;
  color: #fff;
  font-size: 20px;
  position: relative;
  z-index: 900;
  overflow: hidden;
}
.btn::before {
  position: absolute;
  z-index: -90;
  content: "";
  width: 0;
  height: 100%;
  margin: -10px;
  left: 0;
  transition: 0.6s;
}
.btn:hover::before {
  width: 110%;
  background-color: rgba(255, 255, 255, 0.103);
}
.scoial .fa-brands {
  padding: 40px 10px;
  font-size: 25px;
  cursor: pointer;
  transition: 0.5s;
}
.scoial .fa-brands:hover {
  color: #fff;
}
@media (max-width: 1000px) {
  .Contact-detales {
    width: 70%;
  }
}
@media (max-width: 670px) {
  .Contact-detales {
    width: 80%;
  }
}
@media (max-width: 500px) {
  .Contact-detales {
    width: 90%;
  }
  .Contect-title {
    font-size: 30px;
  }
}
@media (max-width: 420px) {
  .btn {
    margin: 6px;
    font-size: 16px;
  }
}
