.Navbar {
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 20;
}
.Navbar-icons {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 40vh;
  padding: 20px;
  border-radius: 20px;
  width: fit-content;
}
.Navbar i {
  padding: 15px;
  margin: 15px 0;
  font-size: 20px;
  cursor: pointer;
  border-radius: 20px;
  color: var(--main-color);
}
.active i {
  background-color: rgba(255, 255, 255, 0.137);
  border-radius: 20px;
}
#color {
  display: none;
}
@media (max-width: 767px) {
  .Navbar-icons {
    position: fixed;
    left: 0;
    right: 0;
    bottom: -95vh;
    margin: auto;
    display: flex;
    flex-direction: row;
    height: 6vh;
  }
  .Navbar i {
    margin: 0 15px;
    padding: 5px;
    font-size: 15px;
    border: 1px solid var(--main-color);
    cursor: pointer;
    border-radius: 20px;
    color: var(--main-color);
  }
  .Navbar label {
    margin-top: 8px;
  }
}
